.home-container {
  position: relative;
  width: 380px;
  height: 380px;
  margin: 0 auto;

  .title {
    color: #fff;
    text-align: center;
    line-height: 50px;
  }

  .result {
    position: relative;
    top: 395px;
    color: #e04e4e;
    text-align: center;
  }

  .btn {
    width: 100px;
    background-color: #2f58b5;
    color: #fff;
    position: relative;
    top: 450px;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  &__get-new {
  }
}
