.home-container {
  position: relative;
  width: 380px;
  height: 380px;
  margin: 0 auto;

  .title {
    color: #fff;
    text-align: center;
    line-height: 50px;
  }

  .sub-title {
    color: rgb(170, 170, 170);
    text-align: center;
    line-height: 0px;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .result {
    position: relative;
    font-size: 14px;
    top: 395px;
    text-align: center;

    &__lost {
      color: #e04e4e;
    }

    &__won {
      color: #1bab4d;
    }
  }

  .btn {
    width: 100px;
    background-color: #1bab4d;
    color: #fff;
    position: relative;
    top: 425px;
    font-size: 11px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #00000078;
  }
}
